numpy~=1.24.2
tensorflow~=2.14.0
progress~=1.6
keras~=2.14.0
evaluate~=0.4.2
nltk~=3.8.1
pandas~=2.2.2
rouge-score
openpyxl~=3.1.4
torch~=2.3.1+cu118
datasets~=2.19.2
transformers~=4.41.2
replicate~=0.26.0
peft~=0.11.1
trl~=0.9.4
bert-score